/* styles.css */

body {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.table-responsive {
    margin-bottom: 20px;
}

a.btn-primary {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #fff;
}

.table-dark {
    color: #fff;
    background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #454d55;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 768px) {
    .table-responsive {
        border: 0;
    }

    .table-responsive .table {
        margin-bottom: 0;
        background-color: transparent;
    }

    .table-responsive .table thead {
        display: none;
    }

    .table-responsive .table tr {
        margin-bottom: 0.625rem;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    .table-responsive .table td {
        display: block;
        text-align: right;
        font-size: 0.8em;
        border-bottom: 1px dotted #ccc;
        position: relative;
        padding-left: 50%;
    }

    .table-responsive .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    .table-responsive .table td:last-child {
        border-bottom: 0;
    }
}
